@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*CSS Reset*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root Settings*/

:root {
    /*Primary*/

    --very-dark-blue: hsl(233, 47%, 7%);
    /*main background*/

    --dark-desaturated-blue: hsl(244, 38%, 16%);
    /*card background*/

    --soft-violet: hsl(277, 64%, 61%);
    /*accent*/


    /*Neutral*/

    --white: hsl(0, 0%, 100%);
    /*main heading and stats*/

    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    /*main paragraph*/

    --slightly-transparent-white-title: hsla(0, 0%, 100%, 0.6);
    /*Stat headings*/


    /*Font Weight*/

    --light: 400;
    --bold: 700;
}

/*Basic Styles*/

body {
    background: var(--very-dark-blue);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

/*Components*/

.card {
    background: var(--dark-desaturated-blue);
    max-width: 92%;
    border-radius: .4rem;
    overflow: hidden;
    margin: 1.5rem;
}

.card__showcase {
    background: var(--soft-violet);
}

.card__showcase img {
    mix-blend-mode: multiply;
    display: flex;
}

.card__content {
    padding: 1.5rem;
    text-align: center;
}

.card__content__heading {
    font-size: 1.8rem;
    margin-top: .8rem;
}

.card__content__heading-highlight {
    color: var(--soft-violet);
}

.card__content__text {
    color: var(--slightly-transparent-white);
    font-size: 0.9375rem;
    line-height: 1.7;
    margin-top: 1.2rem;
}

.card__content__insights {
    margin-top: 2.6rem;
    margin-bottom: 1rem;
}

.card__content__insights__col {
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
}

.card__content__insights__col-title {
    color: var(--slightly-transparent-white-title);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    margin-top: .4rem;
}